/* ------------------ GLOBAL CSS ------------------ */
* {
  font-family: system-ui;
  text-decoration: 0;
  list-style: none;
  color: #fff;
  background: #000;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
/* --------------------- TEXT --------------------- */
p {
  color: #fff;
  white-space: pre-line;
}
.c {
  text-align: center;
}
/* --------------------- IMG --------------------- */
img {
  max-width: 100%;
}
/* -------------------- HEADER -------------------- */
header {
  text-align: center;
  animation: fade-in .4s;
}
@keyframes fade-in {
from {opacity: 0;}
to {opacity: 1;}
}
/* -------------------- NAVBAR -------------------- */
#nav>li:first-child>a {background: #ea0;}

#active {background-color: #0de;}

#inmenu {background-color: #0be;}

#nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

#nav li a {
  font-weight: 700;
  text-align: center;
  display: inline-block;
  width: 9vw;
  padding: .7em 0;
}

#nav li a:hover, #active:hover {
  color: #000;
  background: #fff;
}

#nav .dd {
  top: 100%;
  display: none;
  position: absolute;
}

#nav li:hover>.dd {display: block;}

@media (max-width: 820px) {
  #nav li a {
    width: 15vw;
    font-size: .9em;
  }
}

@media (max-width: 500px) {
  #nav li a {
    width: 20vw;
  }
}
/* --------------------- GRID --------------------- */
.social-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10%;
}
/* Social grid item */
.social-grid-i {
  font-weight: 700;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  border: 1px solid #fff;
  transition: .22s;
}

.social-grid-i:hover {text-decoration: underline;}

.yt {background-color: #f00;}
.twitter {background-color: #1d9bf0;}
.ttv {background-color: #5c16c5;}
